# Reading Comma-Separated Values with CSV

## Get a reader object by passing it an iterable of strings.

In [9]:
import csv
reader = csv.reader(["string1","string2","string3"])
for row in reader:
    print(row)

['string1']
['string2']
['string3']

## Or a file-like object

In [16]:
airport_file = open("../data/less_airport_boardings.csv", "r")
airport_reader = csv.reader(airport_file)
header = next(airport_reader)
airports = []
for row in airport_reader:
    airports.extend(row)
print(header)
print(airports)

['Airport', 'Code', '2001 Rank', '2001 Total', '2010 Rank', '2010 Total', '2011 Rank', ' Total', 'Percent change 2001-2011', 'Percent change 2010-2011']
['Atlanta, GA (Hartsfield-Jackson Atlanta International)', 'ATL', '1', '36,384,264', '1', '42,655,392', '1', '33,034,788', '-9.2', '-22.6', "Chicago, IL (Chicago O'Hare International)", 'ORD', '2', '28,626,694', '2', '30,033,313', '2', '22,367,052', '-21.9', '-25.5', 'Dallas, TX (Dallas/Fort Worth International)', 'DFW', '3', '25,198,256', '3', '26,785,739', '3', '20,430,281', '-18.9', '-23.7', 'Denver, CO (Denver International)', 'DEN', '6', '16,397,390', '4', '24,965,553', '4', '19,190,341', '17.0', '-23.1', 'Los Angeles, CA (Los Angeles International)', 'LAX', '4', '22,873,307', '5', '22,860,849', '5', '18,379,418', '-19.6', '-19.6', 'Phoenix, AZ (Phoenix Sky Harbor International)', 'PHX', '5', '16,540,686', '7', '18,657,891', '6', '14,680,444', '-11.2', '-21.3']

## The with statement wraps the execution of a block with methods defined by a context mgr (IOBase in this case):

In [11]:
with open("../data/less_airport_boardings.csv", "r") as file_in:
    reader = csv.reader(file_in)
    for row in reader:
        print(row)

['Airport', 'Code', '2001 Rank', '2001 Total', '2010 Rank', '2010 Total', '2011 Rank', ' Total', 'Percent change 2001-2011', 'Percent change 2010-2011']
['Atlanta, GA (Hartsfield-Jackson Atlanta International)', 'ATL', '1', '36,384,264', '1', '42,655,392', '1', '33,034,788', '-9.2', '-22.6']
["Chicago, IL (Chicago O'Hare International)", 'ORD', '2', '28,626,694', '2', '30,033,313', '2', '22,367,052', '-21.9', '-25.5']
['Dallas, TX (Dallas/Fort Worth International)', 'DFW', '3', '25,198,256', '3', '26,785,739', '3', '20,430,281', '-18.9', '-23.7']
['Denver, CO (Denver International)', 'DEN', '6', '16,397,390', '4', '24,965,553', '4', '19,190,341', '17.0', '-23.1']
['Los Angeles, CA (Los Angeles International)', 'LAX', '4', '22,873,307', '5', '22,860,849', '5', '18,379,418', '-19.6', '-19.6']
['Phoenix, AZ (Phoenix Sky Harbor International)', 'PHX', '5', '16,540,686', '7', '18,657,891', '6', '14,680,444', '-11.2', '-21.3']